.username {
    margin: 0;
    padding-left: 15px;
}

.title {
    font-weight: bold;
}

.user_image {
    border-radius: 50%;
    height: 100px;
    width: 100px;
}

.post_image {
    height: 120px;
    width: 150px;
}

.tagStyle {
    margin-right: 15px;
    background-color: #2C3E50;
    color: white;
    border-radius: 50%;
    padding: 8px;
    font-size: 13px;
}

.content {
    padding: 0;
}

.post_userimg {
    margin-right: -27px;
}

.postimg_div {
    padding-left: 15px;
}

.post_content {
    margin-left: -15px;
}

.post_url {
    margin-left: -15px;
    padding-bottom: 10px;
}

.logged_user {
    border-radius: 50%;
    height: 46px;
    width: 46px;
}